server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: order-service
          uri: http://order-service:8081
          predicates:
            - Path=/orders/**
          

        - id: delivery-service
          uri: http://delivery-service:8082
          predicates:
            - Path=/deliveries/**
          

        - id: notification-service
          uri: http://notification-service:8083
          predicates:
            - Path=/notifications/**
          

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
